body {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.box {
    margin: 4px;
    width: 10px;
    height: 40px;
    background-color: black;
    animation: anime 1s infinite;
}

.box1 {
    animation-delay: 0.1s;
}

.box2 {
    animation-delay: .2s;
}

.box3 {
    animation-delay: .3s;
}

.box4 {
    animation-delay: .4s;
}

.box5 {
    animation-delay: .5s;
}

@keyframes anime {
    0% {
        height: 40px;
    }
    25% {
        height: 100px;
    }
    50% {
        height: 40px;
    }
    75% {
        height: 40px;
    }
    100% {
        height: 40px;
    }
}

.rombs {
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
}

.romb {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: #000;
    margin: 10px;
}

.romb1 {
    /* transform: translate(105px, -35px) rotate(45deg); */
    animation: hereket 5s infinite;
    position: absolute;
    top: 55px;
    left: 90px;
}

.romb4 {
    /* transform: translate(-105px, 35px) rotate(45deg); */
    position: absolute;
    top: 125px;
    left: 90px;
}

@keyframes hereket {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotateX(180deg) rotate(45deg);
    }
}